Source: beanbag
Maintainer: Anthony Towns <aj@erisian.com.au>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), dh-python, python3-all, python3-setuptools, python-docutils, python-sphinx (>= 1.1), python-pytest, python3-pytest, python-requests
Standards-Version: 3.9.6
Vcs-Git: https://github.com/ajtowns/beanbag.git
Homepage: https://pypi.python.org/pypi/beanbag

Package: python-beanbag
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Suggests: python-beanbag-doc, python-requests-oauthlib
Description: Helper module for accessing REST APIs
 BeanBag is a simple module that lets you access REST APIs in an easy
 way. See `http://beanbag.readthedocs.org/` for more information.
 .
 This package installs the library for Python 2.

Package: python3-beanbag
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Suggests: python-beanbag-doc, python3-requests-oauthlib
Description: Helper module for accessing REST APIs
 BeanBag is a simple module that lets you access REST APIs in an easy
 way. See `http://beanbag.readthedocs.org/` for more information.
 .
 This package installs the library for Python 3.

Package: python-beanbag-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Documentation for Python BeanBag module
 BeanBag is a simple module that lets you access REST APIs in an easy
 way. See `http://beanbag.readthedocs.org/` for more information.
 .
 This package installs the module's documentation.

