#!/usr/bin/make -f

export PYBUILD_NAME=beanbag
export PYBUILD_TEST_PYTEST = 1

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	mkdir -p docs/_static docs/_templates
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml docs/ build/html # HTML generator
